<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="header">
            <h2 class="header-title">Contact</h2>
            <nav>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    <div id="pagewrap">
        <h1>Contact Me</h1>
        <form action="/contact">
            <label>
                <input type="text" name="name" placeholder="Name">
            </label>

            <label>
                <input type="text" name="email" placeholder="Email">
            </label>
            <label>
                <textarea name="comment" placeholder="Comment"></textarea>
            </label>
            <input type="submit" value="Submit" class="button">
        </form>
    </div>

</body>
</html>