<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="header">
            <h2 class="header-title">Home</h2>
            <nav>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        
    <div id="pagewrap">
        

        <div class="left">
            <h1>Daniel Clancy</h1>
            <img src="~/images/daniel_clancy.jpg" alt="Daniel Clancy" class="bio" />
        </div>
        <div class="right">
            <h1 class="title">About Me</h1>
            <p>I am a full stack web devloper with a speciality in Python and C#/.NET Core. I also have experience with front end frameworks like jQuery and UIKit</p>
        </div>
        
        
    </div>

</body>
</html>