<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="header">
            <h2 class="header-title">Projects</h2>
            <nav>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    <div id="pagewrap">
    <div class="projects">
        <div class="col-1-3 item">
            <h3>User Dashboard</h3>
            <img src="~/images/User_Dashboard.png" alt="User Dashboard" />
            <p>A simple user management dashboard that allows an admin to manage users, and lets users post messages to other uses. Built with Python and Django.</p>
        </div>
        <div class="col-1-3 item">
            <h3>Hug-A-Pup</h3>
            <img src="~/images/hugapup.jpg" alt="Hug-A-Pup" />
            <p>A Joomla website for a puppy store in North West Indiana.</p>
        </div>
        <div class="col-1-3 item">
            <h3>Polaris Martial Arts</h3>
            <img src="~/images/PMA_shot.jpg" alt="Polaris Martial Arts" />
            <p>A custom PHP website for a Martial Arts school in Crete, IL. Built using CodeIgniter.</p>
        </div>
    </div>
    </div>

</body>
</html>